body {
  font-size: 24px;
}

.spacer {
  height: 100vh;
}

#intersection {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  height: 400px;
}

.on-int {
  background-color: blanchedalmond;
  color: chocolate;
}

.no-int {
  background-color: azure;
  color: turquoise;
}

.cm {
  background-color: bisque;
}

#classmanager > * {
  transition: background-color 0.5s ease-out;
}
